{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profile/css/profile.css' %}">
{% endblock %}

{% block header %}
<div class="container">
	<div class="py-5 text-center">
		<h2>My profile</h2>
		<p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group
			has a validation state that can be triggered by attempting to submit the form without completing it.</p>
	</div>
	{% endblock %}
</div>

{% block content %}
<p>User name:</p>
{{ profile }}
{% endblock %}
