{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profile/css/profile.css' %}">
{% endblock %}

{% block header %}
<div class="container">
	<div class="py-5 text-center">
		<h2>My profile</h2>
		<p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group
			has a validation state that can be triggered by attempting to submit the form without completing it.</p>
	</div>
	{% endblock %}

	{% block content %}
	<div class="row">
			<div class="col-md-4 order-md-2 mb-4">
			<!--YOUR RATING -->
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-muted">Leaving a rating</span>

			</h4>
			<!--rating-->
			
			<div class="rating">
               <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                        4.0 stars
            </div>

			<!--ADD PACKAGE BUTTON
			<a href="{% url 'get_packages' %}" class="btn btn-primary btn-lg btn-block" type="submit">Save rating</a>-->
		</div>

		<div class="col-md-8 order-md-1">
			<h4 class="mb-3">Edit your personal details</h4>

			<!-- payment form-->
			<form class="needs-validation" action="{% url 'checkout' %}" method="POST" id="payment-form" novalidate>
				{% csrf_token %}
				<div class="row">
					<div class="col-md-6 mb-3">
						<label for="fullName">Full name</label>
						<input type="text" class="form-control" id="fullName" placeholder="" value="{{ packages.full_name}}" required>
						<div class="invalid-feedback">
						</div>
					</div>
				</div>
				<!--the user can use different email then he is logged in with-->
				<div class="mb-3">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" placeholder="" value="{{profile.email}}" required>
					<div class="invalid-feedback">
						Please enter a valid email address for shipping updates.
					</div>
				</div>
				<div class="mb-3">
					<label for="address">Address</label>
					<input type="text" class="form-control" id="address" placeholder="1234 Main St" value="{{profile.address}}" required>
					<div class="invalid-feedback">
						Please enter the address.
					</div>
				</div>
				<div class="mb-3">
					<label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
					<input type="text" class="form-control" id="address2" placeholder="Apartment or suite" value="{{profile.address2}}">
        </div>
					<div class="row">
						<div class="col-md-5 mb-3">
							<label for="country">Country</label>
							<select class="custom-select d-block w-100" id="country" required>
              <option value="">Choose...</option>
              <option>Sweden</option>
              <option>Poland</option>
            </select>
							<div class="invalid-feedback">
								Please select a valid country.
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<label for="city">City</label>
							<input type="text" class="form-control" id="city"  placeholder="" required value="{{profile.town_or_city}}">
							<div class="invalid-feedback">
								City is required.
							</div>
						</div>
					</div>
					<div class="form-check form-check-inline float-left mr-0">
						{% if user.is_authenticated %}
						<label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
						<input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
						<label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
						{% endif %}
					</div>
					<hr class="mb-4">

					<!--ORDER HISTORY -->
					<h4 class="mb-3">Order history</h4>

					

					<div class="row">
						<hr>
<div class="container bootstrap snippet">
  
    <div class="row">
       
        <!--/col-3-->
        <div class="col-sm-12">

            

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Order number</th>
                                    <th>Order date</th>
                                    <th>Package name</th>
                                    <th>Status</th>
                                    <th>Total </th>
                                </tr>
                            </thead>
                            <tbody id="items">
                                <tr>
                                    <td>1</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>
                    <!--/table-resp-->

                    <hr>

                </div>
                <!--/tab-pane-->
                <div class="tab-pane" id="messages">

                    <h2></h2>

                    <ul class="list-group">
                        <li class="list-group-item text-muted">Inbox</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Here is your a link to the latest summary report from the..</a> 2.13.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Hi Joe, There has been a request on your account since that was..</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Nullam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Thllam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Wesm sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">For therepien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Also we, havesapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                        <li class="list-group-item text-right"><a href="#" class="pull-left">Swedish chef is assaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>

                    </ul>

                </div>
                <!--/tab-pane-->
                <div class="tab-pane" id="settings">

                    <hr>
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name">
                                    <h4>First name</h4></label>
                                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="last_name">
                                    <h4>Last name</h4></label>
                                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="phone">
                                    <h4>Phone</h4></label>
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile">
                                    <h4>Mobile</h4></label>
                                <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="email">
                                    <h4>Email</h4></label>
                                <input type="email" class="form-control" name="email" id="profile-email" placeholder="you@email.com" title="enter your email.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="email">
                                    <h4>Location</h4></label>
                                <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password">
                                    <h4>Password</h4></label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password2">
                                    <h4>Verify</h4></label>
                                <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!--/tab-pane-->
        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
<!--/row-->
					</div>
					<div class="row">
						
					</div>
					<hr class="mb-4">

					<button id="submit-button" class="btn btn-primary btn-lg btn-block" type="submit">
                        <span class="font-weight-bold">Save</span>
                    </button>
					
                   

			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}