{% extends "base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'profile/css/profile.css' %}" />
{% endblock %} {% block header %}
<div class="container">
    <div class="py-5 text-center">
        <h2>My profile</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>
    {% endblock %} {% block content %}
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <!--YOUR RATING -->
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Leaving a rating</span>
            </h4>
            <!--rating-->

            <div class="rating">
                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                4.0 stars
            </div>

            <!--ADD PACKAGE BUTTON
			<a href="{% url 'get_packages' %}" class="btn btn-primary btn-lg btn-block" type="submit">Save rating</a>-->
        </div>

        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Edit your personal details</h4>

            <!-- profile form-->
            <form class="needs-validation" action="{% url 'profile' %}" method="POST" id="payment-form" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="fullName">Full name</label>
                        <input type="text" class="form-control" id="fullName" placeholder="" value="{{ packages.full_name}}" required />
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <!--the user can use different email then he is logged in with-->
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="" value="{{profile.email}}" required />
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" value="{{profile.address}}" required />
                    <div class="invalid-feedback">
                        Please enter the address.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="address2" placeholder="Apartment or suite" value="{{profile.address2}}" />
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <select class="custom-select d-block w-100" id="country" required>
                            <option value="">Choose...</option>
                            <option>Sweden</option>
                            <option>Poland</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="" required value="{{profile.town_or_city}}" />
                        <div class="invalid-feedback">
                            City is required.
                        </div>
                    </div>
                </div>
                <button id="submit-button" class="btn btn-primary btn-lg btn-block" type="submit">
                    <span class="font-weight-bold">Update my profile</span>
                </button>

                <hr class="mb-4" />

                <!--ORDER HISTORY -->
                <h4 class="mb-3">Order history</h4>

                <div class="row">
                    <hr />
                    <div class="container bootstrap snippet">
                        <div class="row">
                            <!--/col-3-->
                            <div class="col-sm-12">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home">
                                        <div class="table-responsive">
                                            <p>{{ orders }}</p>
                                            <hr />
                                        </div>
                                        <!--/table-resp-->
                                    </div>
                                   
                                    
                                </div>
                                <!--/tab-pane-->
                            </div>
                            <!--/tab-content-->
                        </div>
                        <!--/col-9-->
                    </div>
                    <!--/row-->
                </div>
                <div class="row"></div>
            </form>
        </div>
    </div>
</div>

{% endblock %} {% block scripts %} {% endblock %}
