
html{
    height: 100%;
}

/* ------------------------------------  main_page carousel */

body{
    background-size: cover;
    height: calc(100vh - 164px);
    color: #343A40;
    font-family: 'Catamaran';
    margin-top: 3.5rem;
    border-radius: 20px;
}

/* ------------------------------------  main_page carousel */

.carousel-item {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ------------------------------------  main_page offer */

.pricing{
    color: white;
}

section.pricing {
 
  background: linear-gradient(to right, #343A40, #343A40);
}

/* ------------------------------------  offer page */

.package-offer{
    margin-top: 1.5rem!important;
}

.packages-list{
    margin-top: 5.5rem!important;
}

/*----------------------------------------------package add form  */

.package-offer-form{
    margin-bottom: 4rem;
}

.btn-add-package{
    margin-top: 3rem;
}

/*--------------------------------------------------------login allauth  */

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input:[type='checkbox'] {
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
