{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8" />
        <meta name="description" content="agile_frameworks">
        <meta name="author" content="Anna_Janiak">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet">
        
        
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" crossorigin="anonymous"></script>
        <!--Stripe-->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <title>SCRUM</title>
    </head>

    <body>
    {% block navbar %}
     <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'get_main_page' %}">what is SCRUM about?</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'checkout' %}">Profile Management</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'checkout' %}">Checkout</a>
                            </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'profile' %}">My profile</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                            
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'get_packages' %}">Offer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        {% endif %}   
                    </li> 
                     
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block offer %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    {% block extra_body %}
    {% endblock %}

    </body>
    </html>
