{% extends "base.html" %}
{% load static %}

<h1>contatct form</h1>
<hr>
{% block header %}
<div class="container">
	<div class="row">
		<div class="col-sm-10">
			<div class="py-5 text-center">
				<h2>Contact form</h2>
				<p class="lead">Message us to arrange the SCRUM event</p>
			</div>
			<div class="card">
				<div class="container-contact">
					<div class="card-body">
						<form id="contactForm" action="{% url 'get_contact_page' %}" method="post">
							{% csrf_token %}
							<div class="form-group">
								<label for="name">Name</label>
								<input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
                            </div>
								<div class="form-group">
									<label for="email">Email</label>
									<input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
									<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
								</div>
								<div class="form-group">
									<label for="message">Contact us</label>
									<textarea class="form-control" name="comment" id="message" rows="6" required></textarea>
								</div>
								<div class="mx-auto">
									<button type="submit" class="btn btn-outline-secondary text-right" title="Click to send your message.">Submit</button>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
document.getElementById("contactForm").onsubmit = function() {submitFunction()};

function submitFunction() {
    alert('Your message has been sent to us.');
}
</script>
{% endblock %}