{% extends "base.html" %}
{% load static %}
       
    {% block content %}
        <!-- Page content -->
        <div class="w3-content w3-padding" style="max-width: 1564px;">
            <!-- About Section -->
            <div class="w3-container w3-padding-32" id="about">
                <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
                    About
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <!-- Project Section -->
            <div class="w3-container w3-padding-32" id="offer">
                <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
                    OFFER
                </h3>
            </div>

            <div class="w3-row-padding">
                <div class="card w3-col l3 m6 w3-margin-bottom" style="width: 18rem;">
                    <img src="{{MEDIA_URL}}presentation.jpg" class="card-img-top" alt="presentation-image" />
                    <div class="card-body">
                        <h5 class="card-title">Presentation</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                        <button class="w3-black w3-padding">PRESENTATION</button>
                    </div>
                </div>
                <div class="card w3-col l3 m6 w3-margin-bottom" style="width: 18rem;">
                    <img src="{{MEDIA_URL}}workshop.jpg" class="card-img-top" alt="workshop-image" />
                    <div class="card-body">
                        <h5 class="card-title">Workshop</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                        <button class="w3-black w3-padding">WORKSHOP</button>
                    </div>
                </div>
                <div class="card w3-col l3 m6 w3-margin-bottom" style="width: 18rem;">
                    <img src="{{MEDIA_URL}}meeting.jpg" class="card-img-top" alt="meeting-image" />
                    <div class="card-body">
                        <h5 class="card-title">Individual offer</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                        <button class="w3-black w3-padding">Book a meeting</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
   